

<div class="navbar">
   <h2>BUDGET PLANNER</h2>
</div>

<div class="login-container">


       <form  [formGroup]="signupdata" (ngSubmit)="signup_form()" class="signupform">

        <h2>Signup</h2>

        <input formControlName="username"  type="text" placeholder="username">

        <input formControlName="email" type="text" placeholder="email">

        <input formControlName="password" type="text" placeholder="password">

        <button type="submit">Signup</button>

        <p>Already have an account</p>
        <span class="highlighted">Login</span>


       </form>

</div>
